<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5 p-3" style="background-color: #202020; margin-bottom: 0;">

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #202020">

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <hr class="mt-0 d-inline-block mx-auto" style="width: 140px; color: #fff; height: 3px" />

                        <img src="https://rb.gy/v6xn0l" alt="" style="height: 140px; width: 140px;">

                        <div class="align-items-center mt-2">
                            <!-- Twitter -->
                            <a class="btn text-white btn-floating m-1"
                                style="background-color: #55acee; border-radius: 4cm;" href="#!" role="button"><i
                                    class="fa fa-twitter"></i></a>

                            <!-- Instagram -->
                            <a class="btn text-white btn-floating m-1"
                                style="background-color: #ac2bac; border-radius: 4cm;" href="#!" role="button"><i
                                    class="fa fa-instagram"></i></a>

                            <!-- Linkedin -->
                            <a class="btn text-white btn-floating m-1"
                                style="background-color: #0082ca; border-radius: 4cm;" href="#!" role="button"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>

                        <div class="align-items-center mt-2">
                            <!-- Twitter -->
                            <a class="btn text-white btn-floating m-1"
                                style="background-color: #55acee; border-radius: 4cm;" href="#!" role="button"><i
                                    class="fa fa-facebook-f"></i></a>

                            <!-- Instagram -->
                            <a class="btn text-white btn-floating m-1"
                                style="background-color: red; border-radius: 4cm;" href="#!" role="button"><i
                                    class="fa fa-pinterest"></i></a>

                            <!-- Linkedin -->
                            <a class="btn text-white btn-floating m-1"
                                style="background-color: #626A74; border-radius: 4cm;" href="#!" role="button"><i
                                    class="fa fa-quora"></i></a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <hr class="mt-0 d-inline-block mx-auto" style="width: 170px; color: #fff; height: 3px" />

                        <h6 class="text-uppercase fw-bold mb-4">PAGES</h6>

                        <p>
                            <a href="#!" class="text-white">About Us</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Store</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Our Team</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Partner With Us</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Contact Us</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Seeds For Plastic</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Offers</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Jobs</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Track Order</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">TAOS Points</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Return and Refund Policy</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Terms of Service</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <hr class="mt-0 d-inline-block mx-auto" style="width: 170px; color: #fff; height: 3px" />
                        <h6 class="text-uppercase fw-bold">QUICK LINKS</h6>

                        <p>
                            <a href="#!" class="text-white">Seeds</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Flower Seeds</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Vegetable Seeds</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Herb Seeds</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Fruit Seeds</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Microgreen Seeds</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Gardening Kits</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Gardening Essentials</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Manures</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Sustainable Living</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Miniature Garden Toys</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Algae project</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <hr class="mt-0 d-inline-block mx-auto" style="width: 170px; color: #fff; height: 3px" />
                        <h6 class="text-uppercase fw-bold">Gardening Workshops</h6>
                        <p>
                            <a href="#!" class="text-white">Gardening Calendar Blogs</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Influencer Calendar Blogs</a>
                        </p>

                        <p>
                            <a href="#!" class="text-white">Plants Calendar Blogs</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Seeds Calendar Blogs</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Sustainable Gifting Ideas</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Gardener Stories</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Garden Care Blogs</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Miniature Garden Decor</a>
                        </p>

                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->


    </footer>
</div>